<?php

$config = [
    'tumblr_api_consumer_key' => 'sdkiufgbwe8bro',
    'tumblr_api_consumer_secret' => 'sdkiufgbwe8bro',
    'app_01' => [
        'blogs' => [
            [
                'name' => 'puppies-galore',
                'images_offset_max' => 5,
                'videos_offset_max' => 10
            ]
        ]
    ]
];